@import '../styles/global.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.box {
  z-index: 10;
  background: rgba(34, 51, 68, 0.9);
  height: 100vh;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-left: 0.3rem solid rgb(129,89,76);
  border-right: 0.3rem solid rgb(129,89,76);
  height: 3000px;
}

@media (max-width: 960px) {
  .box {
    width: 100vw;
  }
} 

.portrait {
  height: 15rem;
  border: 0.3rem solid rgb(129,89,76);
  border-radius: 50%;
}

h1 {
  color: white;
  background-color: rgb(129,89,76);
  padding: 0.5rem 1rem;
  margin: 2rem 0 0 0;
}

h2 {
  color: white;
  background-color: rgb(129,89,76);
  padding: 0.5rem 1rem;
  margin: 0.6rem 0;
}

h3 {
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.6rem 0;
}

.content-box {
  margin-top: 4rem;
  width: 50vw;
  border-top: 0.3rem solid rgb(129,89,76);
}