@import '../styles/global';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: {
    image: url('../images/bg.jpg');
    position: center center;
    attachment: fixed;
    size: cover;
    repeat: no-repeat;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba($secondary-color, 0.9);
  height: 100vh;
  width: 60vw;
  margin: auto;
  padding: 3rem;
  border: {
    left: 0.3rem double rgba($primary-color, 0.7);
    right: 0.3rem double rgba($primary-color, 0.7);
  }
  box-shadow: 0 0 16px 4px #000;
  height: 3000px; // temporary

  @media (max-width: 960px) {
    width: 100vw;
  }
}

.portrait {
  height: 15rem;
  border: 0.3rem solid rgb(129,89,76);
  border-radius: 50%;
  box-shadow: 8px 8px 16px #000;
}

h1 {
  color: #fff;
  background-color: $primary-color;
  padding: 0.5rem 1rem;
  box-shadow: 8px 8px 16px #000;
  font-size: 1.8rem;
  margin: 2rem 0 0 0;
}

h2 {
  @extend h1;
  font-size: 1.2rem;
  margin: 1rem 0;
}

h3 {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.6rem 0;
}