@import '../styles/global.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url('../images/bg.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba($secondary-color, 0.9);
  height: 100vh;
  width: 60vw;
  margin: auto;
  padding: 3rem;
  border-left: 0.3rem double rgba($primary-color, 0.7);
  border-right: 0.3rem double rgba($primary-color, 0.7);
  box-shadow: 0 0 16px 4px #000;
  height: 3000px; // temporary
}

.portrait {
  height: 15rem;
  border: 0.3rem solid rgb(129,89,76);
  border-radius: 50%;
  box-shadow: 8px 8px 16px #000;
}

h1 {
  @include main-headline;
  margin: 2rem 0 0 0;
}

h2 {
  @include main-headline;
  margin: 1rem 0;
}

h3 {
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.6rem 0;
}

///////////////////
// media queries //
///////////////////

@media (max-width: 960px) {
  .box {
    width: 100vw;
  }
}