@import '../../styles/global';

h3 {
  margin: 1rem 1rem 1.2rem 1rem;
  font-size: 1.5rem;
}

.container {
  margin-top: 2rem;
  padding-top: 2rem;
  width: 51vw;
  border-top: 0.3rem solid rgb(129,89,76);

  @media (max-width: 960px) {
    width: 80vw;
  }
}

.content {
  padding: 0.5rem 1rem;
}