@import '../../styles/global';

h3 {
  margin: 1rem 1rem;
}

.container {
  margin-top: 3rem;
  width: 50vw;
  border-top: 0.3rem solid rgb(129,89,76);

  @media (max-width: 960px) {
    width: 80vw;
  }
}

.content {
  padding: 0.5rem 1rem;
}