@import '../../styles/global';

.jobs {
  margin-top: 1.7rem;
}
.job:not(:first-child) {
  margin-top: 3rem;
}   

.job {
  box-shadow: 0 0 1rem;
  background-color: rgba($secondary-color, 0.8);
  padding: 2rem;
  margin: 1rem 4rem;

  @media (max-width: 960px) {
    margin: 0;
  }

  .title {
    border-bottom: 1px solid #fff;
    position: relative;

    > div {
      margin-bottom: 1.5rem;

      > span:nth-child(1) {
        background-color: $primary-color;
        padding: 0.2rem 1rem;
        box-shadow: 0 0 3px #000;
      }

      > span:nth-child(2) {
        position: absolute;
        right: 0;
      }
    }
  }

  .accountabilities {
    line-height: 2;

    ul {
      margin-left: 1rem;
      margin-top: 1rem;
    }
  }

  .date {
    margin-top: 1rem;
    border-top: 1px solid #fff;
    padding-top: 1rem;
    margin-bottom: -0.4rem;

    span:nth-child(2) {
      margin: 0.7rem;
    }
  }
}